body {
    height: 100% !important;
    margin: 0px;
    padding: 0px;
    word-wrap: break-word;
}

.container {
    padding: 10px;
    margin: auto;
}

.container-home {
    max-width: 940px;
}


.navigation {
    padding: 5px;
    text-align: right;
    margin-left: 10px;
    margin-right: 10px;
    margin: auto;
}

.navigation-addition {
    float: left;
}

.navigation-left-item {
    margin: 5px;
}

.navigation-right-item {
    margin: 5px;
}

.black-well{
    width: 940px;
    display: table;
}

.muted {
    color: grey;
}

.btn {
    background-color: #000;
    color: #fff;
    border: 1px #fff solid;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
    min-width: 100px;
    font-weight: bold;
}

.btn:hover {
    background-color: grey;
}

.textarea-toggle {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

textarea {
    width: 100%;
    height: 150px;
    margin-bottom:10px;
}

.postform { 
    width: 50%;
    padding: 10px;
    margin: 0 auto !important;
}

.menubutton {

}

.menucontent {
    display: none;
    padding: 1px;
}

.ontop {
    position: fixed;
    bottom: 0px;
    left: 20px;
    padding: 20px;
    cursor: pointer;
}


.reply {
    margin-top: 10px;
    padding: 10px;
    min-width: 90px;
}

.reply-header {
    padding: 4px;
    font-size: 11px;
}

.reply-message {
    padding: 5px;
}

.thread {
    margin-top: 10px;
    margin-bottom: 10px;
}

.thread-message {
    margin: 0px 10px 10px 10px;
}


.thread-header {
    padding: 10px;
}

.recent-reply {
    padding: 10px;
}

.stats-board {
    padding: 10px;
    text-align: center;
}

.stats-board-stuff {
    padding: 10px;
}

.stats-info {
    right: auto;
    left: 0px;
}

.stats-rss {
    float: right;
}

.rss-link{
    font-weight: bold;
    border-radius: 7px;
    background-color: #ff8800;
    padding: 3px;
    color: #000;
    box-shadow: 0px 0px 2px 1px #aa6600 inset;
}

.rss-link:hover {
    color: #000;
    background-color: #ffbb00;
}

.footer {
    margin-top: 10px;
    text-align: center;
}

.home-well {
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px #111 inset;
    padding: 20px;
    margin: 5px;
}

.home-header {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.home-stats {
    text-align: center;
}

.home-menu {
    float:right;
    width: 24%;
}

.home-recent-messages {
    float: left;
    width: 65%;
    text-align: center;
}

.home-recent-messages-block {
    text-align: left;
    padding: 10px;
}

.recent-message {
    margin: 5px;
    border: 1px #000 solid;
    border-radius: 3px;
    max-width: 550px;
}

.home-boards-list {
    padding: 20px;
    border-radius: 15px;
}

.home-boards-list-item {
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.home-banner {
    text-align: center;
    color:green;
    border-radius: 10px 10px 0px 0px;
    padding: 0px;
    border-bottom: 8px #000 solid;
    width: 100%;
    min-width: 940px;
}

.home-banner-image{
    background-color: #000;
    margin-left: 150px;
    margin-right: 150px;
}

.home-banner-message {
    font-family: monospace;
    padding: 2px;
    text-shadow: #0c0 0px 0px 10px;
}

.home-recent-header {
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
}

.home-logo-image{
    max-width: 100%;
}

.ext-image {
    margin: 5px;
    max-height: 200px;
    max-width: 200px;
    display: block;
}

.ext-link {
    cursor: pointer;
    color: #fff;
}

.youtube-link {
    background-color: white;
    color: red;
}

.markup-bar {
    margin-bottom: 10px;
}

.markup-item {
    padding: 2px;
    cursor: pointer;
}

.enc-form {
    display: none;
    margin-top: 10px;
}

.enc-form-pass {
    padding: 2px;
    border: 1px #000 solid;
}

.cyph3r-block {
    padding: 10px;
    cursor: pointer;
}

.decrypt-form {
    margin-top: 10px;
    display: none;
    font-weight: bold;
}

.idiot {
    background-color:yellow;
    color: red;
    font-weight: bold;
}

.pagination {
    text-align:center;
}

.site-options-block {
    display: none;
    position: fixed;
    text-align: center;
    left: 50px;
    top: 50px;
    background-color: #000;
    color: #eee;
    border: 2px #fff solid;
    padding: 20px;
}

.ommited {
    font-size: 10px;
    font-style: italic;
    padding: 10px;
}

/* desert scheme ported from vim to google prettify */
pre.prettyprint { display: block; background-color: #333; margin-top: 10px; margin-bottom: 10px; }
pre .nocode { background-color: none; color: #000 }
pre .str { color: #ffa0a0 } /* string  - pink */
pre .kwd { color: #f0e68c; font-weight: bold }
pre .com { color: #87ceeb } /* comment - skyblue */
pre .typ { color: #98fb98 } /* type    - lightgreen */
pre .lit { color: #cd5c5c } /* literal - darkred */
pre .pun { color: #fff }    /* punctuation */
pre .pln { color: #fff }    /* plaintext */
pre .tag { color: #f0e68c; font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #bdb76b; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #ffa0a0 } /* attribute value - pink */
pre .dec { color: #98fb98 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
    pre.prettyprint { background-color: none }
    pre .str, code .str { color: #060 }
    pre .kwd, code .kwd { color: #006; font-weight: bold }
    pre .com, code .com { color: #600; font-style: italic }
    pre .typ, code .typ { color: #404; font-weight: bold }
    pre .lit, code .lit { color: #044 }
    pre .pun, code .pun { color: #440 }
    pre .pln, code .pln { color: #000 }
    pre .tag, code .tag { color: #006; font-weight: bold }
    pre .atn, code .atn { color: #404 }
    pre .atv, code .atv { color: #060 }
}
