body {
    background-color:#2B2F34; 
    color:#D6D6D6;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #aaa;
}

.navigation {
    border: 1px #000 solid;
    border-top: 0px;
    background-color: #202328;
    box-shadow: 0px 0px 5px 1px #111;
    border-radius: 0px 0px 5px 5px;
    font-size: 9px;
}

.navigation-left-item:hover {
    background-color: #000;
}

.navigation-right-item:hover {
    background-color: #000;
}

.black-well{
    border-radius: 0px 0px 5px 5px;
    background-color: black;
    display: table;
}

textarea {
    background-color: black;
    border: 1px black solid;
    color: white;
    border-radius: 5px;
}

textarea:focus {
    border-color: black;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px green;
}

.ontop:hover{
    background: black;
    opacity: 0.8;
}

.reply {
    border: 1px #000 solid;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #111;
}

.reply:target {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px green;
}

.op {
    border-top: #000 5px solid;
}

.op:before {
    font-size: 9px;
    content: "Original post";
    float: right;
}

.thread {
    border: 1px black solid;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #111;
}

.thread-message {
    margin: 0px 10px 10px 10px;
}

.thread-header {
    background-color: black;
}

.recent-reply {
    background-color: #202328;
    border-top: 1px #000 solid;
}

.stats-board {
    border-radius: 5px 5px 0px 0px;
    border: 1px black solid;
    background-color: #202328;
    box-shadow:1px 1px 1px rgba(0, 0, 0, 0.5) inset;
}

.stats-board-stuff {
    font-size: 10px;
    background-color: black;
    border-radius: 0px 0px 5px 5px;
}

.new-messages > .navigation-left-item > a {
    color: #0c0;
}

.new-messages > .navigation-left-item > a:hover {
    color: #0a0;
}

.home-well {
    background-color: #202528;
}

.side-menu {    
    background-color: black;
    opacity: 0.6;
    position: fixed;
    top: 45px;
    left: 20px;
    padding: 10px;
    border-radius: 6px;
}

.ext-link {
    cursor: pointer;
    color: #fff;
}

.markup-item {
    border: 1px #000 solid;
}

.markup-item:hover {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px green;
    background-color: green;
}

.cyph3r-block {
    border-radius: 3px;
    background-color: #202328;
}

.cyph3r-block:hover {
    box-shadow: 0px 0px 5px 1px #111;
    background-color: #101213;
}

.decrypt-form {
    color: #fff;
}

.message-quote {
    color: green;
    background-color: black;
}

.message-spoiler {
    background-color: black;
    color: black;
}

.message-spoiler:hover {
    color: green;
}