html, body {
	background-color: #EEEEEE;
	color: #333333;
	font-family: "Trebuchet MS",Trebuchet,serif;
}
a {
	color: #FF6600;
}
a:visited {
	color: #FF6600;
}
a:hover {
	color: #0066FF;
}

.navigation {
    background-color: #EEEEEE;
}

.black-well{
    display: table;
}

textarea {
    border: 1px #101010 solid;
}

.ontop:hover{
    background: black;
    opacity: 0.8;
}

.reply {
    background-color: #DDDDDD;
    border: 1px #CCC solid;
    margin: 4px;
}

.reply:target {
    border: 2px #FF6600 dashed;
}

.op:before {
    font-size: 9px;
    content: "Original post";
    float: right;
}

.thread {
    border-top: 1px #CCC solid;
}

.thread-message {
    margin: 0px 10px 10px 10px;
}

.thread-header > b > a {
    color: #000;
    text-decoration: none;
}

.recent-reply {
    background-color: #DDDDDD;
    border: 1px #CCC solid;
    margin: 3px;
}

.stats-board {
    text-align: left;
    border-bottom: 1px #ccc solid;
}

.stats-board > h2 {
    color: #FF6600;
}

.stats-board-stuff {
    font-size: 10px;
    text-align: left;
}

.new-messages > .navigation-left-item > a {
    color: #0c0;
}

.new-messages > .navigation-left-item > a:hover {
    color: #0a0;
}

.reply-header > a {
    color: black;
    text-decoration: none;
}

.home-well {
    background-color: #CCCCCC;
}

.side-menu {    
    background-color: black;
    opacity: 0.6;
    position: fixed;
    top: 45px;
    left: 20px;
    padding: 10px;
    border-radius: 6px;
}

.ext-link {
    cursor: pointer;
    color: #FF6600;
}

.markup-item {
    background-color: #DDD;
    color: #FF6600;
    border: 1px #111 solid;
    font-size: 9px;
}

.markup-item:hover {
    background-color: #CCC;
}

.cyph3r-block {
    border-radius: 3px;
    background-color: #CCC;
    color: #000;
}

.cyph3r-block:hover {
    background-color: #AAA;
}

.decrypt-form {
    color: #fff;
}

.message-quote {
    color: #789922;
}

.message-spoiler {
    background-color: black;
    color: black;
}

.message-spoiler:hover {
    color: #fff;
}

.home-banner {
    text-align: center;
    color:green;
    border-radius: 10px 10px 10px 10px;
    padding: 0px;
    width: 100%;
    min-width: 940px;
}