body {
    background-color:#000; 
    color:#080;
    font-family: monospace;
    font-size: 14px;
}

a {
    color: #0c0;
    text-decoration: none;
}

a:hover {
    color: #0a0;
    font-weight: bold;

}

.navigation {
    border: 1px #333 solid;
    border-top: 0px;
    background-color: #101010;
    font-size: 9px;
}

.navigation-left-item:hover {
    background-color: #000;
}

.navigation-right-item:hover {
    background-color: #000;
}

.black-well{
    display: table;
}

textarea {
    background-color: black;
    border: 1px #101010 solid;
    color: #090;
    border-radius: 5px;
}

textarea:focus {
    border-color: black;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px green;
}

.ontop:hover{
    background: black;
    opacity: 0.8;
}

.reply {
    background-color: #050505;
    border-top: 1px #333 solid;
}

.reply:target {
    border: 1px #0c0 dashed;
}

.op {
    border: #111 1px solid;
}

.op:before {
    font-size: 9px;
    content: "Original post";
    float: right;
}

.thread {
    border: 2px #111 solid;
}

.thread-message {
    margin: 0px 10px 10px 10px;
}

.thread-header {
}

.recent-reply {
    background-color: #050505;
    border-top: 1px #333 solid;
    font-size: 12px;
}

.stats-board {
}

.stats-board-stuff {
    font-size: 10px;
    background-color: #0c0c0c;
}

.new-messages > .navigation-left-item > a {
    color: #0c0;
}

.new-messages > .navigation-left-item > a:hover {
    color: #0a0;
}

.home-well {
    background-color: #010101;
}

.side-menu {    
    background-color: black;
    opacity: 0.6;
    position: fixed;
    top: 45px;
    left: 20px;
    padding: 10px;
    border-radius: 6px;
}

.ext-link {
    cursor: pointer;
    color: #fff;
}

.markup-item {
    border: 1px #111 solid;
}

.markup-item:hover {
    background-color: #101010;
}

.cyph3r-block {
    border-radius: 3px;
    background-color: #050505;
}

.cyph3r-block:hover {
    background-color: #101213;
}

.decrypt-form {
    color: #fff;
}

.message-quote {
    color: #fff;
}

.message-spoiler {
    background-color: black;
    color: black;
}

.message-spoiler:hover {
    color: #0c0;
}